@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

.mainContainer {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 55px;
  justify-content: space-around;
  gap: 200px;

}

.photo {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: #4B4E6D;
  padding: 20px;
  box-shadow: 6px 4px 1px #222222;
  border: solid ;
}

.text,
.hi,
.dev,
.name,
.description {
  font-family: 'PT Serif', serif;
}

.text {
  margin-top: 60px;
  color: #646891;
  text-shadow: 4px 2px 1px #222222;
}

.hi,
.dev {
  font-size: 50px;
}

.description {
  font-size: 30px;
}


.name {
  color: #646891;
  font-family: 'PT Serif', serif;
  text-shadow: 4px 2px 1px #222222;
  font-size: 80px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
}

.language {
  width: 100%;
}

.skills {
  display: flex;
  flex-direction: row;
  width: 5%;
  gap: 20%;
}

.skillsContainer{
  backdrop-filter: blur(15px);
  padding: 10px;
}